@import '../../../shared/styling/modal';
$theme-color: #FFA300;

.modal{
  position: absolute;
  z-index: 3000;
  background: white;
  height: 32%;
  width: 20%;
  display: flex;
  flex-direction: column;
  border: 2px solid $theme-color;
  border-radius: 0.5rem;
  padding: 1rem;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  animation: scaleUp 0.1s;

  top: 7rem;
  left: 17.5rem;

  &.hidden {
    // visibility: hidden;
    animation: scaleDown 0.1s;
  }

  .close{
    position: absolute;
    background-color: $theme-color;
    color: white;
    border-radius: 50%;
    top: -0.7rem;
    left: 13rem;
    height: 1.5rem;
    width: 1.5rem;
    padding: 0rem;
  }

  .main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    
    button{
      background: none;
      align-items: center;
      color: #5B5B5B;
      padding: 0rem;
      height: 2rem;
    }

    .card{
      display: flex;
      flex-direction: column;
      height: 7rem;

      img{
        margin: 0rem;
        height: 70%;
        width: 100%;
        border-radius: 1rem 1rem 0rem 0rem;
      }

      button{
        background-color: #3271EA;
        color: black;
        border-radius: 0rem 0rem 1rem 1rem;
        height: 20%;
        padding: 0rem;
      }
    }
  }

  p{
    margin-top: 1rem;
    text-align: left;
    line-height: 1rem;
  }

}


.collapsed{
  position: absolute;
  background-color: white;
  height: 1.2rem;
  width: 7.5rem;
  top: -1.4rem;
  left: 4.5rem;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: row;
  border: 1.5px solid $theme-color;

  button{
    position: initial;
    background-color: $theme-color;
    color: white;
    width: 20%;
    line-height: 1rem;
    border-radius: 0.2rem;
    border: none;
    z-index: inherit;
  }

  .usermode{
    background-color: white;
    font-weight: bold;
    text-align: center;
    line-height: 1.3rem;
    margin-inline-start: 0.5rem;
  }
}