$border-color: #D9D9D9;

.main{
  width: 60rem;
  height: 23rem;
  max-width: 50rem;
  max-height: 23rem;
  display: grid;
  grid-template-columns: 18rem 20rem;
  grid-template-rows: 55% 30% 10%; 
  padding: 0rem 4vw;
  row-gap: 0.5rem;
  column-gap: 1rem;
  justify-content: center;
  align-items: center;

  .avatar{
    grid-column: 1 / 2;
    grid-row-start: 1;
    grid-row-end: 4;
    border-width: 1rem;
    border-radius: 1rem ;
  }

  .preview{
    grid-column: 2 / 3; 
    border-radius: 0.5rem ;
    border: 1px solid $border-color;
    background-color: $border-color;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    height: 100%;
    width: 100%;
    margin: auto;
    position: relative;

    a{
      position: absolute;

      img{
        background-color: #D9D9D9;
        height: 1rem;
        border-radius: 50%;
        padding: 0.3rem;
        box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
      }
    }

    img{
      height: 100%;
      width: auto;
      max-height: 100%;
      margin: auto;
      aspect-ratio: 1;
      // object-fit: contain;
    }

  }

  .select{
    grid-column: 2 / 3; 
    border-radius: 1rem ;
    border: 1px dotted $border-color;
    grid-row: 2 / 3; 
    padding: 0.5rem;
    font-size: 0.8rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    p{
      color: #616060;
      line-height: 0.8rem;
      margin: 0.5rem auto;
    }

    .buttonSelect{
      height: 2rem;
      width: 4rem;
      background-color: black;
      border-radius: 0.7rem;
      margin:auto;
      position: relative;
      display: flex;

      &:hover{
        cursor: pointer;
      }

      p{
        color:white;
        margin:auto;
      }
      
      .hidden{
        //opacity: 0;
      }

      input{
        position: absolute;
        height:100%;
        width: 100%;
      }

      input[type='file']{
        opacity: 0;
        cursor: pointer;
        width: 4rem;
        height: 2rem;
        font-size: 0;
        top:0rem;
        left: 0rem;
        position: absolute;
    }
    }

  }

  button{
    grid-column: 2 / 3;
    grid-row: 3 / 4; 
    max-height: 100%;

    border-color: black;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(160, 160, 160, 0.2);

    &.active{
      background-color: #D9D9D9;
    }
  }
}