img{
  height: 2rem;
  width: 2rem;
  margin: 1rem auto;
}

.loading{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 80%;

  img{
    margin: 0rem;
  }
  

  .thumbnail{
    height: 8rem;
    width: auto;
    margin: 0rem;
  }

  .nftDoc{
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;

  }
}

.icon {
  height: 11rem;
  width: 11rem;
  background-color: #F2F2F2;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: auto;
  box-shadow: 0px 2px 1px rgb(182, 182, 182);


  img{
    margin: 0rem;

    &.thumbnail{
      margin: 0rem auto;
      height: 8rem;
      width: auto;

    }
  }
}