.style{
  width: 20rem;
}

img{
  height: 2rem;
  width: 2rem;
  margin: 1rem auto;
}

.loading{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto;
  width: 80%;

  img{
    margin: 0rem;
  }
  

  .thumbnail{
    height: 8rem;
    width: auto;
    margin: 0rem;
  }

  .nftDoc{
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;

  }
}

.error{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  button{
    display: flex;
    flex-direction: row;
    background-color: #0066FF;
    color: white;
    padding: 0.5rem;

    p{
      margin: 0rem 1rem 0rem 0rem;
    }
  }

  img{
    margin:0rem;
    height: 1.5rem;

    &.errorImg{
      height:4rem;
      width: 4rem;
    }
  }
}

.icon {
  height: 11rem;
  width: 11rem;
  background-color: #F2F2F2;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: auto;
  box-shadow: 0px 2px 1px rgb(182, 182, 182);

  &:hover{
    cursor: pointer;
  }


  img{
    margin: 0rem;

    &.thumbnail{
      margin: 0rem auto;
      height: 8rem;
      width: auto;
    }
  }
}