@import '../../styling/modal';

.main{
  position: relative;
  z-index: 3000;

  button{
    max-height: 2rem;
    width: 7rem;
    color: black;
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(255, 163, 0,0.4);
    border: 2px solid rgb(255, 163, 0);
    border-radius: 1rem;
    padding-right: 1rem;
    animation: shakeAndScaleUp 0.6s ease-in-out;
    

    img{
      margin: 0rem;
      height: 2rem;
      width: 2rem;
      margin-left: -0.5rem;
      margin-right: 0.2rem;
    }
  }
}