@use "../../../shared/styling/navigation" as n;

.pos{
  @include n.pos;
  align-items: center;
}

.intro{
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  margin: auto;
}