@use "../../../shared/styling/navigation" as n;

.pos{
  @include n.pos;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 90%;
  gap: 5vh;
  margin-bottom: 2rem;
}

.intro{
  // width: 70%;
  // height: 16rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 5rem;
  justify-content: center;
  margin: auto;
  margin-top: 3rem;

  .card{
    margin-top: auto;
  }
}