.main{
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2vh;

  .instruction{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    min-height: 7rem;

    span{
      min-width:3rem;
    }
  
    .detail{
      margin: 0rem;
      width: 55rem;
      // background: #FFA300;
      // border-radius: 1rem;
      // padding: 1rem 1rem;
    }
  
    .text{
      img{
        margin: 0rem;
        margin-right: 0.2rem;
        width: 1.1rem;
        height: 1.1rem;
      }
    }
  }
}