@import '../../styling/modal';

.modal{
  background-color: transparent;
  overflow: hidden;

  img{
    height: 60vh;
    width: auto;
    animation: shake 1s ease-in-out infinite;

    &:hover{
      cursor:pointer;
    }
  }
}