$color: #FFA300;


.main{
  position: absolute;
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
  display: block;
  z-index: 0;
  pointer-events: none;

  &.mark{
    top: -4.5rem;
    left: 20px; 

    .line{
      height: 0.6rem;
      width: 2px;
      margin-left: 4.5rem;
    }
  
    .circle{
      height: 0.6rem;
      width: 0.6rem;
      margin-left: 4.25rem;
    }

  }

  &.quantity{
    top: 1rem;
    left: 10rem; 
    

    .line{
      width: 0.6rem;
      height: 2px;
      margin-left: -0.5rem;
      margin-top: -1rem;
    }
  
    .circle{
      height: 0.6rem;
      width: 0.6rem;
      margin-left: -1rem;
      margin-top: -0.35rem;
    }

  }
  

  &.visible{
    opacity: 1;
    display: block;
    z-index: 3000 !important;
  }

  p{
    border: 2px solid $color;
    background-color: white;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    width: 12rem;
    text-align: left;
    padding: 0.6rem 0.5rem;
    line-height: 1rem;
  }
  
  .line{
    background-color: $color;
  }

  .circle{
    background-color: $color;
    border-radius: 50%;
  }
  
}


@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}