.main{
  display: grid;
  grid-template-columns: 50% 40%;
  grid-template-rows: auto auto;
  gap: 1rem 4rem;

  span{
    background-color: #f2f2f2;
    width: 96%;
    height: 4rem;
    border-radius: 0.3rem;
    border: 1px dotted rgb(72, 72, 72);
    padding: 0.5rem 1rem;
  }

  .table1{
    display: flex;
    flex-direction: column;
    text-align: left;
    grid-column: 1;
    grid-row: 1;

    span{
      display: flex;
      flex-direction: horizontal;
      overflow-x: auto;
      gap: 1rem;

      img{
        height: 3.5rem;
        width: 3.5rem;
        margin: auto 0rem;
        
        &.selected{
          border: 2px solid #7700D5;
        }
      }
    }
  }

  .table2{
    display: flex;
    flex-direction: column;
    text-align: left;
    grid-column: 1;
    grid-row:2;

    span{
      overflow-y: auto;
      overflow-x: hidden;
      scrollbar-width: thin; 
      scrollbar-color: #D9D9D9 transparent; 
      padding: 0.3rem 0.6rem;
      height: 4.9rem;
      width: 100%;
    }
    
    table{
      font-size: 0.7rem;
      border-collapse: separate; 
      border-spacing: 1rem 0rem;
      margin-left: -1rem;

      img{
        margin: 0rem;
        margin-left: 0.7rem;
        height: 1.2rem;
        width: 1.2rem;
      }

      th, td{
        margin-right: 10rem;
        max-width: 10%;
        max-width: 6rem; 
        white-space: nowrap; 
        overflow: hidden; 
        text-overflow: ellipsis;
      }
    }

  }
  
}