.main{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  padding: 1rem 1rem;
  line-height: 1.2rem;
  margin: auto;
  width: 18rem;
  border: 1px solid black;
  border-radius: 0.7rem;
  margin-bottom: 1rem;

  p{
    img{
      margin: 0rem -0.8rem;
      margin-bottom: -0.5rem;
      height: 2rem;
    }

    line-height: 1.25rem;
  }

  img{
    margin: 1rem 0rem;
    height: 4rem;
    width: 4rem;
  }

  .buttons{
    display: flex;
    flex-direction: row;
    gap:1rem;

    button{
      color:white;
      border-radius: 0.7rem;
      width:7.5rem;
    }

    .proceed{
      background-color: #0066FF;
    }

    .cancel{
      background-color: #424242;
    }
  }
}