@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes scaleUp {
  from {transform: scale(0.7);}
  to {transform: scale(1);}
}

@keyframes scaleDown {
  from {transform: scale(1);}
  to {transform: scale(0.7);}
}

@keyframes shakeAndScaleUp {
  0%, 100% {
    transform: translateY(0);
  }

  0%{
    transform: scale(0.1);
  }

  100%{
    transform: scale(1);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: rotate(5deg);
  }
  20%, 40%, 60%, 80% {
    transform: rotate(-5deg);
  }
}

@keyframes shake {
  10%, 30%, 50%, 70%, 90% {
    transform: rotate(5deg);
  }
  20%, 40%, 60%, 80% {
    transform: rotate(-5deg);
  }
}