.card{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 18rem;
  height: 20rem;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 0.8em;
  overflow:hidden;
  

  img{
    margin: 0rem;
    height: 50%;
    width: 100%;
    object-fit: cover;
  }

  .container{
    margin: auto;
    display: flex;
    flex-direction: column;
    p{
      margin: 0px 0px 10px 0px;
    }

    button{
      max-height: 30%;
      margin-bottom: 1rem;
    }
  }

}