:root{
  --topPos: -20px;
  --bottomPos: 5px;
  --leftPos: 6px;
}

.main{
  position: relative;
  display: flex;
  margin: auto;
  text-overflow: ellipsis;

  .pointer{
    margin: 0rem;
    margin-top: 0.5rem;
    position: absolute;
    top:var(--topPos);//75px;
    left: var(--leftPos);//100px;
    z-index: 1000;
    animation: upDown 1.5s infinite ease-in-out;
  }

  a{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}


@keyframes upDown {
  0% {
    top: var(--topPos);
  }
  50% {
    top: var(--bottomPos);
  }
  100% {
    top: var(--topPos); 
  }
}