.card{
  box-sizing: border-box;
  margin-left: auto;
  grid-column: 1;
  grid-row: 1/3;
  width: 15rem;
  height: 15rem;
  display: flex;
  flex-direction: horizontal;
  align-items: center;
  position: relative;

  .offerNoti{
    position: absolute;
    top: -1rem;
    left: 4rem;
  }

  .back{
    display: block;
    //position: absolute;
    box-sizing: border-box;
    padding:0.5rem 1rem;
    background-color: #F2F2F2;
    width: 15rem;
    height: 15rem;
    border-radius: 1.5rem;

    img{
      margin: 0rem;
    }

    .onChain{
      display: flex;
      flex-direction: column;
      p{
        font-weight: bold;
        margin-top: 0.4rem;
      }
      ul{
        margin: 0.5rem 0rem;
        list-style: none;
        padding-inline-start: 1rem;
        text-align: left;
        font-size: 0.8rem;

        li{
          margin:0rem;
          line-height: 1rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      img{
        margin-left: auto;
        height: 4rem;
        width: auto;
      }
    }

  }



}