.card{
  box-sizing: border-box;
  margin-left: auto;
  grid-column: 1;
  grid-row: 1/3;
  width: 15rem;
  height: 15rem;
  display: flex;
  flex-direction: horizontal;
  align-items: center;
  z-index: 1;
  position: relative;



  .front, 
  .back{
    display: block;
    position: absolute;
    box-sizing: border-box;

    padding:0.5rem 1rem;
    width:100%;
    height:100%;
    background-color: #F2F2F2;
    width: 15rem;
    height: 15rem;
    border-radius: 1.5rem;

    img{
      margin: 0rem;
    }

  }

  .back {
    /* back tile styles */
    .onChain{
      display: flex;
      flex-direction: column;
      p{
        font-weight: bold;
        margin-top: 0.4rem;
      }
      ul{
        margin-top: 1rem;
        list-style: none;
        padding-inline-start: 1rem;
        text-align: left;
        font-size: 0.8rem;

        li{
          margin:0rem;
          line-height: 1rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      img{
        margin-left: auto;
        height: 4rem;
        width: auto;
      }
    }
  }

  button{
    border-radius: 50%;
    border: 1px dotted #838383;
    padding:0.1rem 0.5rem;
    background-color: white;
    color: #838383;
    position: absolute;
    right: -0.7rem;
    z-index: 3;
  }

}