.header{
  display: flex;
  flex-direction: row;
  margin: 1rem 4rem;
  margin-bottom: 0rem;
  
  .menu{
    margin-left: auto;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    .mission{
      height:100%;
      position: relative;
    }
  }

  .qna{
    margin: 0rem;
  }
}