.header{
  display: flex;
  flex-direction: row;
  margin: 1rem 4rem;
  
  .mission{
    margin-left: auto;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

  }

  .qna{
    margin: 0rem;
  }
}