.intro{
  height: 70vh;
  max-height: 100%;
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin: auto;

  b{
    color:#66E586;
  }

  p{
    margin-bottom: 2rem;
    
  }

  img{
    margin: 0rem;
  }
  
}