header{
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  span{
    display: flex;
    flex-direction: horizontal;
  }

  h3,p{
    font-style: italic; 
  }

  img{
    margin: 0rem;
    margin-right: 0.2rem;
    margin-top: -0.5rem;
    height: 2.2rem;
    padding-top: 0.2rem;

    &.info{
      margin: 0rem;
      height: 1rem;
      margin-right: 0rem;
    }
  }

}