#container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

#root {
  flex-grow: 1;
  box-sizing: border-box;
  text-align: center;
  padding: 0rem 3rem;
}

footer {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: calc(100vh / 11);
  background-color: #1A202C;
  color: #fff;
  padding: 1.5rem 3vw 1.0rem 3vw;
  justify-content: center;
  min-width: 60rem;
  width: 94vw;
  
  ul {
    list-style-type: none;
    margin-left:auto;
  }

  li {
    display: inline;
    margin-right: 10px;
    a{
      color: #A0ABC0;
      text-decoration: none;
    }
  }

  #text {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 0.6rem;
    text-align: center;
  }
}

dialog{
  border: none;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem;

  &:focus,
  &:focus-visible {
    outline: none;
  }
}