@import '../../shared/styling/modal';

.dialog {
  animation: scaleUp 0.15s;
}

.content{
  animation: scaleUp 0.15s;
  display: flex;
  flex-direction: column;
} 

.close{
  margin-left: auto;
  border-radius: 50%;
  background-color: black;
  color: white;
  width: 1rem;
  height: 1rem;
  padding: 0rem;
  padding-bottom: 0.15rem;
  display: flex;      
  align-items: center; 
  justify-content: center; 
}
