@import '../../shared/styling/modal';

.dialog {
  animation: scaleUp 0.1s;
}

.content{
  animation: scaleUp 0.1s;
  display: flex;
  flex-direction: column;
  height: 100%;
} 

.close{
  margin: 0rem;
  margin-right: 0.5rem;
  margin-left: auto;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  padding: 0rem;
  padding-bottom: 0.15rem;
  display: flex;      
  align-items: center; 
  justify-content: center; 

  &:hover{
    cursor: pointer;
  }
}
